
Backend/.vs/Backend/FileContentIndex/62df5438-8055-498a-b832-b91a418358f9.vsidx
/Backend/.vs
Backend/Backend/bin/Debug/net8.0/Backend.pdb
Backend/Backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
/Backend/Backend/obj
